.about-me {
  background: #202020;
  display: flex;
  flex-direction: column;
  padding: 110px 70px 85px 70px;
  margin: 0 auto;
}

.about-me__title {
  margin: 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #dadada;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.about-me__full-container {
  display: flex;
  justify-content: space-between;
}

.about-me__text-container {
  margin: 66px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__name {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.about-me__short-text {
  margin: 18px 0 0 0;
  padding: 0;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.about-me__long-text {
  margin: 26px 0 0 0;
  padding: 0;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.about-me__link {
  margin: 99px 0 0 0;
  padding: 0;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s linear;
}

.about-me__link:hover {
  opacity: 0.8;
}

.about-me__photo {
  margin: 66px 0 0 0;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 93px 50px 75px 50px;
  }

  .about-me__text-container {
    margin: 56px 0 0 0;
  }

  .about-me__name {
    font-size: 40px;
  }

  .about-me__short-text {
    font-size: 12px;
    margin: 7px 0 0 0;
  }

  .about-me__long-text {
    font-size: 12px;
    margin: 16px 0 0 0;
    max-width: 364px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__link {
    margin: 66px 0 0 0;
  }
}

@media screen and (max-width: 660px) {
  .about-me {
    padding: 87px 14px 59px 14px;
  }

  .about-me__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding: 0 0 28px 0;
  }
  .about-me__full-container {
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    margin: 60px 0 0 0;
  }

  .about-me__name {
    font-size: 30px;
    letter-spacing: -1.2px;
  }
  .about-me__text-container {
    margin: 29px 0 0 0;
  }

  .about-me__short-text {
    line-height: 16px;
    margin: 9px 0 0 0;
  }

  .about-me__long-text {
    line-height: 16px;
    margin: 20px 0 0 0;
  }

  .about-me__link {
    margin: 24px 0 0 0;
  }
}
